*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}
#main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    background-color: #967e76;
}
nav{
    height: 10vh;
    font-size: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0b0000;
}
#container{
    height: 50vh;
    width: 50vw;
    background-color: #eee3cb;
    gap: 25px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 10px 10px 15px #060606;
}
.user{
    display: flex;
    align-items: last baseline;
    justify-content: center;
    gap: 3vw;
    height: 25%;
    
}
.computer{
    display: flex;
    align-items: last baseline;
    justify-content: center;
    
    gap: 3vw;
    height: 25%;
}
label{
    font-size: 4em;
    font-family: cursive;
    color: #080202;
}
input{
    width: 13vw;
    height: 5vh;
    border: 4px solid #080202;
    font-size: 4rem;
    padding: 50px;
}
#choices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}
button{
    height: 4vh;
    width: 12vw;
    font-size: 3.5rem;
    font-family: cursive;
    border-radius: 8px;
    background-color: #408e91;
    color: antiquewhite;
    cursor: pointer;
    border: 8px solid #080202;
}
button:hover{
    background-color: antiquewhite;
    transform: scale(1.12);
    color: black;
}
#snake{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
    padding-top: 6vh;
    gap: 25px;
}
#water{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
    padding-top: 6vh;
    gap: 25px;
}
#gun{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
    padding-top: 6vh;
    gap: 12px;
}
#result{
    height: 10%;
   
    font-size: 8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
